<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if login_form is defined %}
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('mmc_user.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('mmc_user.login') }}">Login</a></li>
            {% endif %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
