<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block title %}
    <title>{% block title_content %}{% endblock title_content %}</title>
  {% endblock title %}

  {% block favicon %}
  {% endblock favicon %}

  {% block stylesheets %}
  {% endblock stylesheets %}

</head>
<body class="hold-transition login-page">
    {% block body %}
        <div class="login-box">

            {% block login_logo %}
            {% endblock login_logo %}

            <div class="login-box-body">
                {% block mmc_user_content %}

                    {% if login_form is defined and login_form %}
                        {% block mmc_user_login_form %}
                        {% endblock mmc_user_login_form %}
                    {% endif %}

                    {% if resource_owners is defined and resource_owners %}
                        {% block mmc_user_resource_owners %}
                        {% endblock mmc_user_resource_owners %}
                    {% endif %}

                {% endblock mmc_user_content %}
            </div>
        </div>
    {% endblock body %}

    {% block javascripts %}
    {% endblock javascripts %}

</body>
</html>
